<!DOCTYPE html>
<html>
  <head>
    <title>学生管理システム</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div id="container">
      <%= render "shared/layout_parts" %>  <!-- ← ここでまとめて呼び出す -->

      <main id="content">
        <% if flash[:notice] %>
          <p style="color: green;"><%= flash[:notice] %></p>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>